NODE_ENV=production
PORT=3000
DB_HOST=your-host.planetscale.xyz
DB_USER=your-username
DB_PASSWORD=your-password
DB_NAME=beyoundChats_blogs
DB_PORT=3306
FRONTEND_URL=https://beyound-chats-jade.vercel.app
